@CHARSET "UTF-8";

/** KDS 의료정책방송 Layout 
  * 
  * since  : 2014.03.27
  * author : Boh  
  */
  


body{

}


#b_wrap{
	width:970px;
	position:absolute;
	left:50%;
	margin-left: -485px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fff
}




/*** 상단영역 ***/

#t_container{
  	width:970px;
   margin:0 auto;
}

#t_container .top_logo{
	width:200px;
	height:112px;
	float:left;
}

#t_container .top_imgArea{
	width:770px;
	height:112px;
    float:left;
	background-color:green;
}



/*** 메뉴, 컨텐츠 영역 ***/

#b_container{       /* 메뉴 영역, 컨텐츠 영역 Wrapper */
   width:970px;
   margin:0 auto;
}

#m_lnb{             /* 메뉴(lnb) Wrapper */
	width:200px;
	float:left;
}

#m_container{      /* 컨텐츠 영역, 메뉴(snb) Wrapper */
	width:770px;
    float:left;
}




