@CHARSET "UTF-8";

/** KDS 의료정책방송 Layout 
  * 
  * author : Boh  
  */
  


body{
	 font:normal 1em "돋움",Dotum;
    
}

#b_wrap{
	width:970px;
	position:absolute;
	left:50%;
	margin-left: -485px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}




/*** 상단영역 ***/

#t_container{
  	width:970px;
   margin:0 auto;
}

#t_container .top_logo{
	width:200px;
	height:112px;
	float:left;
	background-color:red
}

#t_container .top_imgArea{
	width:770px;
	height:112px;
    float:left;
	background-color:green;
}



/*** 메뉴, 컨텐츠 영역 ***/

#b_container{       /* 메뉴 영역, 컨텐츠 영역 Wrapper */
   width:970px;
   margin:0 auto;
}

#m_lnb{             /* 메뉴(lnb) Wrapper */
	width:200px;
	float:left;
}

#m_container{      /* 컨텐츠 영역, 메뉴(snb) Wrapper */
	width:770px;
    float:left;
}




/*** 메뉴(lnb) ***/

ul.lnb{
	width: 200px; 
	margin:0px;
	padding:0px;
}
ul.lnb li{
	list-style-type:none;
    margin:0px;
    border: 1px solid #aaa;
}
ul.lnb li{
    border-bottom: none;
}
ul.lnb li a{
	display: block; /* 마우스 선택 영역을 잡기 위하여 변경 */
	padding:30px 40px;
	text-decoration:none;
	color: #666;
	background:#fff;
	
}

ul.lnb li a:hover{
	background:rgb(55,96,146);
	color:#fff;
}
ul.lnb li.last {
	padding-left:0px;
	border: 1px solid #aaa;
	height:400px;
	border-bottom:none;
}



/*** 서브메뉴(snb) ***/

ul.s_navi{
	 float:left;
	 list-style:none;
	 padding-left:14px;
	 margin-top:10px;
	 width:770px;

}

ul.s_navi li{
	float:left;
}

ul.s_navi a{
	display:block;
	text-align:center;
	width:130px;      /* 박스 가로 사이즈 */
	height:30px;      /* 박스 세로 사이즈*/
	line-height:30px; /* 박스 세로 사이즈와 동일 */
	border:1px solid #aaa;
	margin-left:-1px;
	text-decoration:none;
	color:#aaa;
	
	/* 테두리 둥글게
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	 border-radius: 3px; 
	 */
}

ul.s_navi a:hover{
	background:rgb(31,73,125);
	color:#fff;
}

