@CHARSET "UTF-8";

/** KDS 의료정책방송  Navigator
  * 
  * since  : 2014.03.27
  * author : Boh  
  */
  




/*** 메뉴(lnb) ***/

ul.lnb{
	width: 200px; 
	margin:0px;
	padding:0px;
}
ul.lnb li{
	list-style-type:none;
    margin:0px;
    border: 1px solid #aaa;
}
ul.lnb li{
    border-bottom: none;
}
ul.lnb li a{
	display: block; /* 마우스 선택 영역을 잡기 위하여 변경 */
	padding:30px 40px;
	text-decoration:none;
	color: #666;
	background:#fff;
	background-image:url(/images/common/lnb_bool.gif);background-position:90% 50%;background-repeat:no-repeat;
}

/* ul.lnb li a:hover{   //lnb 마우스 오버 이벤트
	color:#fff;
	background:rgb(55,96,146);
	background-image:url(/images/common/lnb_bool_over.gif);background-position:90% 50%;background-repeat:no-repeat;
} */

ul.lnb li.last {
	padding-left:0px;
	border: 1px solid #aaa;
	height:400px;
	border-bottom:none;
}


ul.lnb li a.lnbClick{  /* 선택된 lnb는 lnbClick 클래스를 갖는다 */
	color:#fff;
	background:rgb(55,96,146);
	background-image:url(/images/common/lnb_bool_over.gif);background-position:90% 50%;background-repeat:no-repeat;
}








/*** 서브메뉴(snb) ***/

ul.s_navi{
	 float:left;
	 list-style:none;
	 padding-left:14px;
	 margin-top:10px;
	 width:770px;

}

ul.s_navi li{
	float:left;
}

ul.s_navi a{
	display:block;
	text-align:center;
	width:130px;      /* 박스 가로 사이즈 */
	height:30px;      /* 박스 세로 사이즈*/
	line-height:30px; /* 박스 세로 사이즈와 동일 */
	border:1px solid #aaa;
	margin-left:-1px;
	text-decoration:none;
	color:#aaa;
	
	/* 테두리 둥글게
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	 border-radius: 3px; 
	 */
}

/*
ul.s_navi a:hover{    //snb 마우스 오버 이벤트
	background:rgb(31,73,125);
	color:#fff;
}
*/

ul.s_navi a.snbClick{  /* 선택된 snb는 snbClick 클래스를 갖는다 */
	background:rgb(31,73,125);
	color:#fff;
	
}



 